@blue-base: #0070f6;
@green-base: #388700;
@red-base: #d93511;
@orange-base: #ff7800;
@gold-base: #ff9d00;
@neutral-base: #353b48;
@extraDark-bg: #353b48;
@processing-color: #1a74b1;

@font-family: 'Open Sans', sans-serif;
@border-radius-base: 4px;
@btn-border-radius-base: 52px;
@btn-border-radius-sm: 12px;

@nav-selected-item-top: 0;