.outline-mixin(@width: 1px, @style: auto) {
  outline: Highlight @style @width;
  outline: -webkit-focus-ring-color @style @width;
}

:focus:not(:focus-visible) {
  outline: none !important;
}

:focus:not(:-moz-focusring) {
  outline: none !important;
}

a:focus,
.ant-btn:focus,
.ant-btn-text:focus,
.ant-btn-link:focus,
.ant-btn-dangerous.ant-btn-text:focus {
  .outline-mixin();
}

.ant-tabs-nav .ant-tabs-tab-btn:focus,
.ant-btn-background-ghost.ant-btn-primary:focus {
  .outline-mixin();
}

.ant-modal-close:focus {
  .outline-mixin();
}

.ant-collapse > .ant-collapse-item:not(.ant-collapse-no-arrow) > .ant-collapse-header:focus {
  .outline-mixin();
}

.ant-pagination-item:focus,
.ant-pagination-prev:focus,
.ant-pagination-next:focus {
  .outline-mixin();
}

.ant-typography-edit:focus {
  .outline-mixin();
}

.ant-menu-item:focus {
  .outline-mixin();
}

.ant-switch:focus {
  .outline-mixin();
}
