// BUTTON
.ant-btn {
  border-radius: @btn-border-radius-base;
}

.ant-btn > .anticon {
  line-height: 0;
  position: relative;
}

.ant-btn-sm {
  padding: 0 8px;
  font-size: @font-size-sm;
}

.ant-btn-lg {
  font-size: @font-size-md;
}

.ant-btn-text {
  padding-left: 8px;
  padding-right: 8px;
}

.ant-btn-link {
  padding-left: 0;
  padding-right: 0;

  span {
    transition: color 0.3s;
  }
}

.ant-btn-background-ghost:not(.ant-btn-primary) {
  && {
    background-color: transparent;
    border-color: fade(@white, 85%);
    color: fade(@white, 85%);

    &:hover,
    &:focus,
    &:active {
      border-color: @white;
      color: @white;
    }
  }
}

.ant-btn-icon-only {
  padding: 4px 0;

  .ant-btn-group-sm &,
  .ant-input-group-sm & {
    top: 0;
    padding: 3.2px 0;
  }
}

.ant-input-search-button {
  height: 31px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

a.ant-btn {
  padding-top: 1px !important;
  padding-bottom: 1px;

  &.ant-btn-sm {
    padding-top: 0 !important;
    padding-bottom: 0;
  }

  &.ant-btn-icon-only {
    padding-top: 4px !important;
    padding-bottom: 4px;
  }
}

.ant-btn-link:not(.ant-btn-dangerous):not([disabled]) {
  color: @link-color;
  span {
    &:hover {
      text-decoration: @link-hover-decoration;
      color: @link-hover-color;
    }

    &:active {
      color: @link-active-color;
    }
  }
}

.ant-btn-link.ant-btn-dangerous:not([disabled]) {
  span {
    &:hover {
      text-decoration: @link-hover-decoration;
    }
  }
}

.ant-btn-text.ant-btn-dangerous {
  &:hover {
    background-color: @red-1;
  }
}

// DROPDOWN BUTTON
.ant-btn.ant-btn-dropdown-trigger {
  padding-left: 8px;
  padding-right: 8px;
}

.ant-dropdown-button {
  > .ant-btn.ant-btn-primary {
    background-color: @primary-color;
    &:first-of-type {
      min-width: 130px;
      text-align: left;
    }
  }

  .ant-dropdown-trigger {
    > .anticon {
      vertical-align: middle;
      font-size: @font-size-base;
    }
  }
  .ant-btn-ghost {
    color: @primary-color;
    border-color: @primary-color;

    &:hover {
      color: @primary-5;
      border-color: @primary-5;
    }
  }
}

.ant-dropdown-trigger {
  > .anticon.anticon-down {
    position: relative;
    top: -1px;
  }
}

.ant-btn-group-lg.ant-dropdown-button {
  > .ant-btn {
    &:first-of-type {
      min-width: 180px;
      text-align: left;
    }
  }

  .ant-dropdown-trigger {
    > .anticon {
      vertical-align: middle;
      font-size: @font-size-md;
    }
  }
}
.ant-btn-group-sm.ant-dropdown-button {
  > .ant-btn {
    font-size: @font-size-sm;
    &:first-of-type {
      min-width: 130px;
      text-align: left;
    }
  }

  .ant-dropdown-trigger {
    > .anticon {
      font-size: @font-size-sm;
    }
  }
}
