@neutral-1: #ffffff; // light bg
@neutral-2: #fafafa; // table header
@neutral-3: #f5f5f5; // surface (secondary bg), hover
@neutral-4: tint(@neutral-base, 92%); // divider
@neutral-5: tint(@neutral-base, 85%); // border
@neutral-6: tint(@neutral-base, 50%); // disabled
@neutral-7: tint(@neutral-base, 25%); // secondary
@neutral-8: @neutral-base; // primary
@neutral-9: @neutral-base; // unused
@neutral-10: @neutral-base; // unused

// all colors use level 6 as default, red is shifted down by 1
@red-1: color(~`colorPalette('@{red-5}', 1) `);
@red-2: color(~`colorPalette('@{red-5}', 2) `);
@red-3: color(~`colorPalette('@{red-5}', 3) `);
@red-4: color(~`colorPalette('@{red-5}', 4) `);
@red-5: @red-base;
@red-6: color(~`colorPalette('@{red-5}', 6) `);
@red-7: color(~`colorPalette('@{red-5}', 7) `);
@red-8: color(~`colorPalette('@{red-5}', 8) `);
@red-9: color(~`colorPalette('@{red-5}', 9) `);
@red-10: color(~`colorPalette('@{red-5}', 10) `);

@extra-bg: #ffffff;
@extra-surface: #f4f4f8;

@extraDark-onBg-primary: #fff;
@extraDark-onBg-secondary: tint(@extraDark-bg, 75%);
@extraDark-onBg-disabled: tint(@extraDark-bg, 50%);
@extraDark-onBg-light: tint(@extraDark-bg, 15%);
@extraDark-onBg-extraLight: tint(@extraDark-bg, 8%);

@nav-bg-color: #cd6133;