// DRAWER
@drawer-bg: @layout-body-background;

// MODAL
@modal-header-bg: @neutral-2;
@modal-footer-bg: @neutral-2;

// ALERT
@alert-success-border-color: tint(@success-color, 50%);
@alert-success-bg-color: tint(@success-color, 92%);
@alert-success-icon-color: @success-color;
@alert-info-border-color: fade(@info-color, 50%);
@alert-info-bg-color: tint(@info-color, 92%);
@alert-warning-border-color: tint(@warning-color, 50%);
@alert-warning-bg-color: tint(@warning-color, 92%);
@alert-error-border-color: tint(@error-color, 50%);
@alert-error-bg-color: tint(@error-color, 92%);

// BREADCRUMBS
@breadcrumb-base-color: @text-color-secondary-dark;
@breadcrumb-last-item-color: @text-color-inverse;
@breadcrumb-link-color-hover: @text-color-secondary-dark;
@breadcrumb-separator-color: @text-color-secondary-dark;

// FORM
@form-item-trailing-colon: false;
@label-required-color: @error-color;

// BADGE
@badge-color: @error-color;

// BUTTON
@btn-default-color: @neutral-8;
@btn-text-hover-bg: @neutral-4;

@btn-padding-horizontal-base: @padding-lg - 1px;
@btn-padding-horizontal-lg: 32px;
@btn-padding-horizontal-sm: @padding-md - 1px;

// CASCADER
@cascader-item-selected-bg: @item-active-bg;

// PICKER
@picker-basic-cell-hover-color: @item-active-bg;
@picker-basic-cell-active-with-range-color: @item-hover-bg;
@picker-basic-cell-hover-with-range-color: @item-active-bg;
@picker-date-hover-range-border-color: @item-hover-bg;

// DROPDOWN
@dropdown-selected-color: @text-color;

// LAYOUT
@layout-body-background: @extra-surface;
@layout-sider-background: @extraDark-bg;
@layout-header-background: @layout-sider-background;

// LINK
@link-decoration: none;
@link-hover-decoration: underline;
@link-focus-decoration: none;
@link-focus-outline: 0;

// PROGRESS
@progress-remaining-color: @neutral-4;

// SELECT
@select-item-selected-bg: @item-active-bg;

// STATISTICS
@statistic-title-font-size: @font-size-sm;
@statistic-content-font-size: @font-size-xxl;
@statistic-unit-font-size: @font-size-xxl;

// TABLE
@table-row-hover-bg: @item-hover-bg;
@table-selected-row-bg: @item-active-bg;
@table-header-sort-bg: @neutral-2;

// TABS
@tabs-card-active-color: @text-color;
@tabs-ink-bar-color: @text-color;
@tabs-highlight-color: @text-color;
@tabs-hover-color: @text-color-secondary;
@tabs-active-color: @text-color;
@tabs-horizontal-padding: @padding-sm;
@tabs-horizontal-padding-lg: @padding-md @padding-sm;
@tabs-horizontal-padding-sm: @padding-xs;

// TREE
@tree-node-selected-bg: @neutral-4;

// Statistics
.ant-statistic-title {
  white-space: break-spaces;
  color: @text-color-secondary;
}

.ant-statistic-content {
  .ant-statistic-content-value {
    color: @heading-color;
    font-weight: 600;
  }

  .ant-statistic-content-suffix {
    color: @primary-color;
  }
}

// Tag
.ant-tag {
  border-radius: @btn-border-radius-base;
  min-width: 90px;
  text-align: center;

  .anticon-close,
  .anticon-close:hover {
    color: currentColor;
    opacity: 0.65;
  }
}

// Empty
.ant-empty {
  &-image {
    height: auto;
    margin-bottom: 1em;

    .ant-empty-img-default {
      height: 80px;
    }
  }

  &-description {
    font-size: @font-size-lg;
  }
}

// Table
.ant-table-row-expand-icon,
.ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-radius: 2px;
}

.ant-table-body,
.ant-table-content {
  overflow: auto;
}

.ant-table {
  td {
    min-width: 32px;
    max-width: 240px;
    word-break: break-word;
    vertical-align: top;

    .ant-table-row-expand-icon {
      position: relative;
      top: 1px;
    }
  }

  th {
    /* if a column doesn't have a title, center the filter icon */
    .ant-table-column-title:empty {
      flex: 0;
      & + .ant-table-filter-trigger {
        margin: 0 auto;
      }
    }
  }

  td,
  th {
    &.ant-table-selection-column {
      width: 32px;
      min-width: auto;
    }
  }
}

.ant-checkbox-wrapper {
  display: inline-flex;
  align-items: flex-start;
  .ant-checkbox {
    top: 0.18em;
  }
}

.ant-checkbox {
  top: 0.2em;
}

.ant-transfer-list-content-item .ant-checkbox-wrapper .ant-checkbox,
.ant-transfer-list-header .ant-checkbox-wrapper .ant-checkbox {
  top: 0;
}

.ant-table-filter-dropdown {
  .ant-dropdown-menu-title-content > span {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 440px;
    overflow: hidden;
    vertical-align: middle;
  }
}

.ant-table-filter-dropdown-btns {
  padding: 8px 12px;
}

.ant-table-column-sorter {
  margin-left: 8px;
}

.ant-pagination-prev,
.ant-pagination-next {
  .ant-pagination-item-link {
    line-height: 0;
  }
}

// Menu & Dropdown
.ant-menu-dark,
.ant-dropdown-menu-dark {
  .ant-menu-item-divider,
  .ant-dropdown-menu-item-divider {
    background-color: @extraDark-onBg-light;
  }

  .ant-dropdown-menu-item-group-title {
    color: @extraDark-onBg-primary;
    font-size: @font-size-sm;
    padding: 5px 12px;
  }

  .ant-dropdown-menu-item-selected {
    background-color: transparent;
    position: relative;

    &:hover {
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: 5px;
      bottom: 5px;
      width: 3px;
      background-color: @extraDark-onBg-primary;
    }

    span {
      color: @extraDark-onBg-primary;
    }
  }
}

// Modal
.ant-modal-close + .ant-modal-header {
  padding-right: 48px;
}

.ant-modal-body {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: @padding-md @padding-lg;
}

// Tabs
.ant-tabs-nav .ant-tabs-tab-btn {
  display: inline-flex;
  align-items: center;
  .anticon {
    font-size: @font-size-md;
    .anticon {
      margin-right: 0;
    }
  }
}

.ant-tabs-dropdown-menu-item {
  .anticon {
    margin-right: 8px;
    .anticon {
      margin-right: 0;
    }
  }
}

// Spin
.ant-spin {
  color: @text-color;
  .ant-spin-dot-item {
    background-color: @text-color-secondary;
  }
}

// Layout, breadcrumbs
.ant-layout-sider .ant-menu-item,
.ant-layout-sider .ant-menu-submenu-title,
.ant-breadcrumb {
  .anticon {
    font-size: 18px;
    .anticon {
      margin-right: 0;
    }
  }
}

// Form
.ant-form-item-label {
  white-space: normal;
  font-weight: 500;

  &.ant-form-item-label-left,
  .ant-form-horizontal & {
    font-weight: 400;
  }

  label {
    height: auto;
    min-height: 32px;
  }
}

.ant-form-item-with-help {
  margin-bottom: @form-item-margin-bottom;
}

.ant-input-search-with-button .ant-input-group-addon {
  background-color: transparent;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  transition-timing-function: ease;
  .ant-select-selection-item {
    transition: none;
  }
}

// Space
.ant-space-vertical {
  width: 100%;
  & > .ant-space-item:empty {
    margin-bottom: 0 !important;
  }
}

.ant-space-item:empty + .ant-space-item-split {
  display: none;
}

.ant-divider-vertical {
  margin: 0;
}

// Skeleton
.ant-skeleton-content .ant-skeleton-title {
  margin: 6px 0;
}

.ant-skeleton {
  width: auto;
}

// Tree
.ant-tree {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .ant-tree-treenode {
    padding: 8px;
    border-top: 1px solid @border-color-split;
  }

  .ant-tree-node-content-wrapper:hover {
    background-color: transparent;
  }
}

// List
.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0;
}

.ant-list-vertical .ant-list-item-meta-title {
  font-size: @font-size-base;
  margin: 0;
}

.ant-list-item-extra {
  text-align: right;
}

// Alert
.ant-alert {
  align-items: flex-start;

  .ant-alert-icon,
  .ant-alert-close-icon {
    margin-top: 4px;
  }

  &.ant-alert-with-description {
    .ant-alert-message {
      font-size: @font-size-md;
    }

    .ant-alert-icon,
    .ant-alert-close-icon {
      margin-top: 2px;
    }
  }
}

// Radio
.ant-radio-button-wrapper {
  &:first-child {
    border-top-left-radius: @btn-border-radius-base;
    border-bottom-left-radius: @btn-border-radius-base;
  }

  &:last-child {
    border-top-right-radius: @btn-border-radius-base;
    border-bottom-right-radius: @btn-border-radius-base;
  }
}
