// reactour overrides
#___reactour {
  [data-tour-elem='controls'] {
    justify-content: space-between;
    margin-top: 48px;

    button[disabled] {
      visibility: hidden;
    }
  }

  .mask {
    opacity: 0.45;
    color: #000;
  }
}

// drag-n-drop overrides
.row-dragging {
  background: @drawer-bg;
  border: 1px solid @processing-color;
}

.row-dragging td {
  padding: 8px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
  z-index: 999;
}

// global styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* full-height layout without using 100vh */
#root,
#root > div,
#root > div > div,
#root > div > div > div,
.ant-layout {
  height: 100%;
}

canvas {
  width: 100% !important;
}
