.ant-layout-sider {
  height: 100%;
  padding-top: 64px;

  // Hide scrollbar for IE and Firefox
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  // Hide scrollbar for Chrome, Edge, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  && {
    .ant-layout-sider-children {
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
    }

    .ant-layout-sider-trigger {
      background-color: transparent;
      text-align: left;
      padding: 0 24px;
      width: 80px !important;
    }
  }
}

nav {
  overflow-y: auto;

  .ant-menu {
    &.ant-menu-inline-collapsed {
      .anticon {
        line-height: 0 !important;
      }
    }

    .ant-menu-submenu {
      user-select: none;

      .ant-menu.ant-menu-sub {
        background-color: @extraDark-onBg-extraLight;
      }

      &.ant-menu-submenu-active,
      &.ant-menu-submenu-open {
        color: @text-color-dark;
      }

      .ant-menu-inline-collapsed {
        .anticon {
          line-height: 0 !important;
        }
      }
    }

    .ant-menu-item {
      user-select: none;
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 4px;
      padding-right: 0;
      padding-top: 4px;
      padding-bottom: 4px;

      &:active {
        background-color: transparent;
      }

      a {
        text-decoration: none;
      }
    }

    .ant-menu-item-divider {
      border-color: @extraDark-onBg-light;
    }
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) {
    .ant-menu-item {
      width: calc(100% - 16px);
      border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0;
    }
    .ant-menu-item.ant-menu-item-selected {
      background-color: @nav-bg-color;

      span {
        color: @white;

        &.ant-menu-title-content {
          font-weight: 600;
          position: relative;
          top: @nav-selected-item-top;
        }
      }
    }
  }
}
