// COLORS
@text-color: @neutral-8;
@text-color-secondary: @neutral-7;
@normal-color: @neutral-3;
@heading-color: @neutral-8;
@disabled-color: @neutral-6;

@item-hover-bg: @neutral-3;
@item-active-bg: @neutral-4;

@background-color-light: @neutral-2;
@background-color-base: @neutral-3;

@border-color-base: @neutral-5;
@border-color-split: @neutral-4;

// FONTS
@font-variant-base: tabular-nums;
@font-feature-settings-base: 'tnum';
@font-size-sm: 13px;
@font-size-base: 15px;
@font-size-md: 17px;
@font-size-lg: 19px;
@font-size-xl: 22px;
@font-size-xxl: 28px;
@heading-1-size: @font-size-lg;
@heading-2-size: @font-size-md;
@heading-3-size: @font-size-base;
@heading-4-size: @heading-3-size;
@heading-5-size: @heading-3-size;

// TYPOGRAPHY
@typography-title-font-weight: 600;
// these should be 0
@typography-title-margin-top: 1.2em;
@typography-title-margin-bottom: 0.5em;

.ant-typography {
  strong {
    font-weight: 600;
  }
}

// remove underline for links inside other (clickable) elements
.ant-btn,
.ant-card-actions,
.ant-card-meta,
.ant-dropdown-menu-item {
  a,
  a.ant-typography {
    text-decoration: none;
    color: currentColor;
  }
}

.ant-typography-danger {
  a,
  a.ant-typography {
    color: currentColor;
  }
}

.ant-tooltip {
  a,
  a.ant-typography {
    text-decoration: @link-hover-decoration;
    color: currentColor;
  }

  &.ant-menu-inline-collapsed-tooltip {
    a,
    a.ant-typography {
      text-decoration: none;
    }
  }
}

.ant-typography ul {
  list-style-type: initial;
}
